@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// Variables
// Color system
$black: #000000;
$black2: #0a0c13;
$white: #ffffff;
$error: #dc3545;
$grey: #adadad;
$sliver: #808080;
$sliver2: #999;
$light-grey: #f2f2f2;
$light-grey2: #ddd;
$light-sliver: #f5f5f5;
$light-sliver2: #f7f7f7;
$light-sliver3: #ededed;
$separator-border-color: #ebedf3;
$separator-border-color2: #e7e7e7;
$title-bg-color: #222;
$silver-gray: #e6e6e6;
$silver-gray2: #ced4da;
$gray: #c4c4c4;
$dark-gray: #8e8e8e;
$dark-gray2: #acaaa6;
$light-gray: #efefef;
$black2: #171717;
$black-border: #212529;
$light-black: #636363;
$light-black2: #878787;
$light-white: #f1f1f1;
$bg-icon: #ececec;
$primary: #007bff;
$green: #28a745;
$light-green: #e6f3dc;
$notification-success: #28a745;
$notification-info: #17a2b8;
$notification-warning: #ffc107;
$notification-error: #d5080f;
$add-wishlist-button-hover: #d8d8d8;
$bar-chart-red: rgba(255, 99, 132, 0.2);
$bar-chart-blue: rgba(54, 162, 235, 0.2);
$bar-chart-yellow: rgba(255, 206, 86, 0.2);
$bar-chart-green: rgba(75, 192, 192, 0.2);
$bar-chart-purple: rgba(153, 102, 255, 0.2);
$bg-dark: #343a40;
$btn-danger: #b12025;
$header-page: #f4f4f4;
$menu-page: #757e8e;
$btn-color: #59b828;
$modal-danger: #c3272e;
$light-green: #8eb35a;
$light-green2: #e5efe0;
$light-green3: #e8f2de;
$line-color: #999999;
$sub-menu-color: #696969;
$border-color: #dee2e6;
// breakpoints
$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;