$notification-info: #6c757d;
$notification-warning: #ffca2c;
$notification-default: #0d6efd;
$notification-error: #dc3545;
$notification-success: #157347;
$notification-dark: #212529;
$white: #fff;
$black: #000;